<label>Email Address</label>
<input type="email" name="email" value="<%= customer.email %>">

<label>Full Name</label>
<input type="text" name="fullname" value="<%= customer.fullname %>">


<label>Phone Number</label>
<input type="number" name="phonenumber" value="<%= customer.phonenumber %>">

<label>Address</label>
<input type="text" name="address" value="<%= customer.address %>">

<label>City</label>
<input type="text" name="city" value="<%= customer.city %>">

<label>Zip code</label>
<input type="text" name="zipcode" value="<%= customer.zipcode %>">

<label>Country</label>
<input type="text" name="country" value="<%= customer.country%>">
