<h2>User Management SysTem</h2>

<h3> <a href="/admin/user_management_create_user">  Create New User  </a> </h3>

<table border="1" cellpadding="5">
    <tr>
      <th>index</th>  
    <th>_id</th>
    <th>username</th>
    <th>Email</th>
    <th>Action</th>
    </tr>
    <% let counter = 0 %>
<% users.forEach(user => { %>
    
    <tr>
        <td> <%= ++counter %></td>
        <td><%= user._id %> </td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td> <a href="/admin/user_management/edit_user/<%= user._id%>">Edit</a>
        <td>   <%- include("../../partials/delete_form", {url:`/admin/user_management/delete_user/${user._id}` }) %></td>
    </tr>

<% }) %>    
</table>